<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web</display-name>
  <context-param>
    <param-name>name</param-name>
    <param-value>hong gil dong</param-value>
  </context-param>
  <context-param>
    <param-name>mail</param-name>
    <param-value>hong@some.com</param-value>
  </context-param>
  <resource-ref>
    <description>Oracle</description>
    <res-ref-name>jdbc/edu</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServletConfig</display-name>
    <servlet-name>HelloServletConfig</servlet-name>
    <servlet-class>com.servlet.HelloServletConfig</servlet-class>
    <init-param>
      <description>홍길동 이름입니다.</description>
      <param-name>name</param-name>
      <param-value>홍길동</param-value>
    </init-param>
    <init-param>
      <description>직업은 프로그래머입니다.</description>
      <param-name>job</param-name>
      <param-value>프로그래머</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletConfig</servlet-name>
    <url-pattern>/HelloServletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestGetParameter</display-name>
    <servlet-name>RequestGetParameter</servlet-name>
    <servlet-class>com.servlet.RequestGetParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetParameter</servlet-name>
    <url-pattern>/01/RequestGetParameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCycle</display-name>
    <servlet-name>ServletCycle</servlet-name>
    <servlet-class>com.servlet.ServletCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCycle</servlet-name>
    <url-pattern>/ServletCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest</display-name>
    <servlet-name>ServletContextTest</servlet-name>
    <servlet-class>com.servlet.ServletContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest</servlet-name>
    <url-pattern>/ServletContextTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestGetParameterNames</display-name>
    <servlet-name>RequestGetParameterNames</servlet-name>
    <servlet-class>com.servlet.RequestGetParameterNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetParameterNames</servlet-name>
    <url-pattern>/RequestGetParameterNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestGetParameterMap</display-name>
    <servlet-name>RequestGetParameterMap</servlet-name>
    <servlet-class>com.servlet.RequestGetParameterMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetParameterMap</servlet-name>
    <url-pattern>/RequestGetParameterMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestGetPagingInfo</display-name>
    <servlet-name>RequestGetPagingInfo</servlet-name>
    <servlet-class>com.servlet.RequestGetPagingInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetPagingInfo</servlet-name>
    <url-pattern>/RequestGetPagingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestInfo</display-name>
    <servlet-name>RequestInfo</servlet-name>
    <servlet-class>com.servlet.RequestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfo</servlet-name>
    <url-pattern>/RequestInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestInfo</display-name>
    <servlet-name>requestInfo</servlet-name>
    <servlet-class>com.servlet.requestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestInfo</servlet-name>
    <url-pattern>/requestInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttribute</display-name>
    <servlet-name>GetAttribute</servlet-name>
    <servlet-class>com.servlet.GetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttribute</servlet-name>
    <url-pattern>/GetAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttributeView</display-name>
    <servlet-name>GetAttributeView</servlet-name>
    <servlet-class>com.servlet.GetAttributeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttributeView</servlet-name>
    <url-pattern>/GetAttributeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAttribute</display-name>
    <servlet-name>SessionAttribute</servlet-name>
    <servlet-class>com.servlet.SessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAttribute</servlet-name>
    <url-pattern>/SessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAttributeView</display-name>
    <servlet-name>SessionAttributeView</servlet-name>
    <servlet-class>com.servlet.SessionAttributeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAttributeView</servlet-name>
    <url-pattern>/SessionAttributeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationAttribute</display-name>
    <servlet-name>ApplicationAttribute</servlet-name>
    <servlet-class>com.servlet.ApplicationAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAttribute</servlet-name>
    <url-pattern>/ApplicationAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationAttributeView</display-name>
    <servlet-name>ApplicationAttributeView</servlet-name>
    <servlet-class>com.servlet.ApplicationAttributeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAttributeView</servlet-name>
    <url-pattern>/ApplicationAttributeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieServlet</display-name>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>com.servlet.SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/SetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieViewServlet</display-name>
    <servlet-name>SetCookieViewServlet</servlet-name>
    <servlet-class>com.servlet.SetCookieViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieViewServlet</servlet-name>
    <url-pattern>/SetCookieViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestViewServlet</display-name>
    <servlet-name>TestViewServlet</servlet-name>
    <servlet-class>com.servlet.TestViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestViewServlet</servlet-name>
    <url-pattern>/TestViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>com.servlet.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleAction</display-name>
    <servlet-name>SampleAction</servlet-name>
    <servlet-class>com.action.sample.SampleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleAction</servlet-name>
    <url-pattern>/SampleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAction</display-name>
    <servlet-name>BoardAction</servlet-name>
    <servlet-class>com.action.board.BoardAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAction</servlet-name>
    <url-pattern>/BoardAction</url-pattern>
  </servlet-mapping>
</web-app>